MONGODB_URI=tour_mongo_uri
NEXTAUTH_SECRET=super_secret_key
GROQ_API_KEY=your_free_api_key_here
GMAIL_USER=noreply@gmail.com
GMAIL_APP_PASSWORD=use_your_account_app_password
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret